html{
    scroll-behavior: smooth;
}
body{
    font-family: nm1412xx;
    background: #f5f5f5;
    margin: 0;
    padding: 20px;
    text-align: center ;
}
h1{
    color: #04c;
    margin-bottom: 10px;
    margin: 30px;
}
h2{
    color: #06a;
}
h3{
    color: #079;
}
p{
    font-size: 1.1em;
    line-height: 1.6;
    margin: 10px auto;
    width: 80%;
    text-align: justify;

}
img {
    width: 500px;
    max-width: 95%;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

footer {
    border-top: 2px solid #ccc;
    margin-top: 40px;
    padding-top: 10px;
    font-size: 0.95em;
    color: #555;
}
@media (max-widht:600px){
    p{
        width: 95%;
    }
    img{
        width: 90%;
    }
}
button {
    display: block;
    width: 80%;
    max-width: 500px;
    margin: 12px auto;
    padding: 15px;
    font-size: 1em;
    border: none;
    border-radius: 10px;
    background-color: #9370DB;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #6A0DAD;
    transform: scale(1.03);
    }
div {
    width: auto;
    height: 150px;
    text-align: center;
    
}

.titulo {
    margin-top: 150px;
}